<h1>Add Event and Description</h1>

<form method="post">
    <input name="name" type="text" />
    <input name="name" type="text" />
    <input type="submit" value="Add Event and Description" /> 
</form>


