<h1>Add Event and Description</h1>

<form method="post">
    <p>Event Name:</p>
    <input name="name" type="text" />
    
    <p>Event Description: </p>
    <input name="description" type="text" /> <!--input name="name"-->
    <br />
    <br />
    <input type="submit" value="Add Event and Description" /> 
</form>


